<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<title>{{app_name}}</title>
		<link rel='shortcut icon' href='./assets/img/favicon.png'>
		<link rel='stylesheet' href='./assets/css/main.css'>
		<link rel='stylesheet' href='./assets/css/all.min.css'>
	</head>
	<body>
		
		<header class="main-header-wrap">
			<div class="container header-title">
				<h1>ХочешЬ скчатЬ книжулю?</h1>
				<h2>Я могу помочЬ...</h2>
			</div>
		</header>

		<div class="app">
		</div>
		
		<script src='./assets/js/vue.min.js'></script>
		<script src='./assets/js/main.js'></script>
	</body>
</html>
